/* =============================================================== */
.cards-tab {
  background: var(--theme-light-shading-grey);
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.cards-tab .cards-tab-img {
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.cards-tab:hover .cards-tab-img img {
  transform: scale(1.2);
}

.cards-tab .cards-tab-img img {
  width: 100%;
  transition: 0.3s;
}

.cards-tab .cards-para {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-tab .cards-para span:first-child {
  color: var(--theme-pink);
}

.cards-tab .cards-bottom p {
  text-align: center;
  color: black;
}

.cards-tab:hover .cards-bottom p {
  color: var(--theme-pink);
  transition: all 0.3s ease;
}
