/* =============================================================== */
.cards-tab {
  background: var(--theme-light-shading-grey);
}

.cards-tab .cards-tab-img img {
  transition-duration: 0.3s;
}

.cards-tab:hover .cards-tab-img img {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.cards-tab .cards-para {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-tab .cards-bottom p {
  text-align: center;
  color: black;
}

.cards-tab:hover .cards-bottom p {
  color: var(--theme-pink);
  transition: all 0.3s ease;
}
