/* --------------------- Home-Page ---------------------- */
.homePage {
  background-color: var(--theme-light-grey);
}
.theme-btn.active {
  border: 2px solid var(--theme-pink);
  background-color: var(--theme-light-grey);
}
.homePage {
  background-image: url("/public/images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.homePage {
  background-color: var(--theme-transparent);
}

.homePage {
  background-color: var(--theme-white-background-transparent);
}

/* --------------------- Home-Page (Left-Tab) ---------------------- */
.homePage .left-tab ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.homePage .left-tab .profile-image {
  border: 4px solid var(--theme-light-grey);
  object-fit: cover;
}

.theme-btn {
  color: var(--theme-pink);
  background: linear-gradient(110deg, #e8eaeb, #ffffff);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}

.theme-btn:hover {
  background: var(--theme-pink);
  color: white;
  transition-duration: 0.3s;
}

.facebook:hover {
  background: var(--theme-facebook);
  color: white;
  transition-duration: 0.3s;
}

.instagram:hover {
  background: var(--theme-instagram);
  color: white;
  transition-duration: 0.3s;
}

.linkedIn:hover {
  background: var(--theme-linkedIn);
  color: white;
  transition-duration: 0.3s;
}

/* --------------------- Home-Page (Right-Tab) ---------------------- */
.homePage .right-tab h5 {
  text-decoration: underline;
}

/* ================= SiteBody (About) ================= */
.siteBody .site-about {
  /* background-color: var(--theme-white-background); */
}

.siteBody .site-about .about-para .theme-btn {
  padding: 1rem;
  width: fit-content;
  height: 5rem;
}
.siteBody .project {
  border-radius: 1rem;
  text-align: center;
  background-color: var(--theme-white-background);
}

.siteBody .project .project-left,
.siteBody .project .project-right {
  padding: 2rem;
  border: 1px solid var(--theme-grey);
  border-radius: 2rem;
}

.siteBody .project .project-left div,
.siteBody .project .project-right div {
  color: var(--theme-pink);
  font-size: 3rem;
  margin: 1rem 0;
}

/* --------------------- SiteBody (Technology) ---------------------- */
.technology {
  background-color: var(--theme-white-background);
  text-align: center;
  border-radius: 1rem;
  margin-top: 1rem;
}

.technology .technology-tab {
  background-color: var(--theme-light-grey);
  box-shadow: rgb(179, 178, 178) 2px 2px 10px;
}

.technology .technology-tab a img {
  height: 7.5rem;
}

/* --------------------- Media Query ---------------------- */
@media (max-width: 2560px) {
  .homePage .left-tab .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .homePage .left-tab h1,
  .homePage .left-tab ul,
  .homePage .left-tab h5 {
    padding: 0 2rem;
  }
}

@media (max-width: 992px) {
  .siteBody .site-about .about-para {
    margin-left: 6rem;
  }
  .homePage .right-tab {
    text-align: center;
  }

  .homePage .left-tab {
    border: none;
  }

  .navbar {
    display: none;
    position: absolute;
    margin: 0 !important;
  }

  .resume-page .resume-heading-2 {
    margin-top: 2rem;
  }
  .contact-part {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .siteBody .site-about .about-para {
    margin-left: 0rem;
  }

  .siteBody .site-about .about-image img {
    height: 35rem;
    width: 100%;
  }

  .siteBody .site-about .about-para h6 {
    margin: 1rem 0;
  }
  .contact-part .contact-para p {
    font-size: medium;
  }
  .contact-part .contact-para p a {
    font-size: x-small;
  }
  .homePage .left-tab {
    margin: auto;
    text-align: center;
  }

  .homePage .left-tab ul {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 475px) {
  .hobby-page .navBar .hobby-nav {
    flex-direction: column;
  }
  .hobby-page .navBar .hobby-nav li {
    margin: 0.5rem 0;
  }
  .clients .client-tab {
    width: 80%;
    margin: 1rem auto;
  }
  .clients .client-tab a img {
    height: 12.5rem;
    width: 75%;
  }
}
