/* --------------------- Nav ---------------------- */
.siteBody nav {
  position: sticky;
  top: 0;
}

.siteBody nav ul {
  background-color: var(--theme-white-background);
  border-radius: 1rem;
}

.siteBody nav ul li {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.siteBody nav ul li:not(:last-child) {
  padding-bottom: 0;
}

.siteBody nav ul li a {
  padding: 2rem;
  width: 100%;
}
