/* ================= SiteBody (project Page) ================= */
/* --------------------- SiteBody (project) ---------------------- */
.siteBody .site-project {
  border-radius: 1rem;
  padding: 1rem 1rem 0 1rem;
  background-color: var(--theme-white-background);
  margin-top: 0.5rem;
}

.site-project .project-tab:hover img {
  transform: scale(1.1);
  transition-duration: 0.4s;
}

.site-project .project-tab img {
  transform: scale(1);
  transition-duration: 0.4s;
}

.site-project .project-tab .project-bottom {
  display: inline-block;
  text-align: center;
}

.site-project .project-tab .project-bottom a {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}

.site-project .project-tab .project-bottom a:hover {
  color: var(--theme-pink);
}

.site-project .project-tab .project-bottom a i {
  transform: rotate(-45deg);
  font-size: 0rem;
  color: var(--theme-pink);
}

.site-project .project-tab .project-bottom a:hover i {
  font-size: 1.5rem;
  transition: all 0.4s ease;
}
.project-para a{
  color: var(--theme-pink);
}